<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Información sobre métodos en la API">
    <title><%= pageTitle %></title>

    <link rel="shortcut icon" href="img/AVX Kyocera Logo.png">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
    
<div class="container d-grid gap-3">